@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Azeret Mono", monospace;
}

/* banner container starts here */
* {
    margin: 0;
    padding: 0;
}
.banner_container {
    position: absolute;
    max-width: 1550px;
    height: 665px;
    left: 0;
   
    top: 131px;
    bottom: 4462px;;
    background-image: url(./assets/Hero-bg.png) ;
}

.banner_content {

   
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 800px;
   
}

.banner_content h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.banner_content p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    flex: none;
}

.btn-first {


position: absolute;
width: 208px;
height: 66px;
top: 700px;
left: 600px;
border-radius: 8px;

background: rgb(13, 19, 33);
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 15px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
}

/* why-web-development-container */

.why-web-development-container {
    width: 1140px;
height: 1395px;
/* border: 2px solid red; */
margin: 0 auto;
margin-top: 950px;
}
.why-web-development-container h1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;


color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.why-web-development-container p{
    position: absolute;
    width: 852px;
    height: 52px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    left: 350px;

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}


/* layer-1 */


.layer-1 {
    width: 946px;
height: 336px;
/* border: 2px solid red; */
margin: 0 auto;
margin-top: 163px;
}
.layer-1 h1{/* I will Do Coding and Change The World */
    position: static;
    width: 390px;
    height: 72px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;

}

.layer-1 p{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
position: static;
width: 468px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.layer-1 button{
    /* Frame 7 */
position: static;
width: 150px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.image-layer-1 {
    /* Group */
position: absolute;
right: 300px;
top: 1200px;
}

/* Layer-2 */
.layer-2 {
    width: 946px;
height: 336px;
/* border: 2px solid red; */
margin: 0 auto;
margin-top: 50px;
}
.layer-2 h1{//* I will help People by creating Modern Web System */
    position: absolute;
    right: 2000px;
    width: 477px;


    
  
   
    
    /* Inside Auto Layout */
    
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.layer-2 p{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
position: static;
width: 468px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.layer-2 button{
    /* Frame 7 */
position: static;
width: 150px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.image-layer-2 {
    /* Group */
position: absolute;
right: 300px;
top: 1600px;
}

/* layer-3 */

.layer-3 {
    width: 946px;
height: 336px;

margin: 0 auto;
margin-top: 100px;
}

.layer-3 h1{/* I will Do Coding and Change The World */
    position: static;
    width: 390px;
    height: 72px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    
    
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;

}

.layer-3 p{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. */
position: static;
width: 468px;
height: 52px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 16px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.layer-3 button{
    /* Frame 7 */
position: static;
width: 150px;
height: 48px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 20px 12px 20px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 32px 0px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;

box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}

.image-layer-3 {
    /* Group */
position: absolute;
right: 300px;
top: 2050px;
}
/* 
My Inspiration part starts here  */
.My-Inspiration{
    width: 1140px;
height: 800px;
/* border: 2px solid red; */
margin: 0 auto;
margin-top: 2px;

}
.My-Inspiration h1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;


color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.My-Inspiration p{
    position: absolute;
    width: 852px;
    height: 52px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    left: 350px;

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.Video-content{
    position: absolute;
width: 1000px;
height: 614px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 32px;
margin-top: 60px;
right: 200px;
}

/* my-current target starts here  */

.my-current-target{
    width: 1140px;
    height: 1395px;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 2px;
}

.my-current-target h1{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;


color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;

}
.my-current-target p {
    position: absolute;
    width: 852px;
    height: 52px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    left: 350px;

    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}